{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome to Shapping!</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
    <div class="p-2 mb-6 relative">
        <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8">
            {% include "card_info.html" with title='NPM' value=npm %}
            {% include "card_info.html" with title='Name' value=name %}
            {% include "card_info.html" with title='Class' value=kelas %}
        </div>

        <div class="h-full w-full py-6 absolute top-0 left-0 z-20 md:hidden flex" style="background-color: #e14f3a;">
            <div class="h-full min-w-4 mx-auto"></div>
        </div>
    </div>

    <div class="px-3 mb-4">
        <div class="flex rounded-md items-center py-2 px-4 w-fit" style="background-color: #e14f3a;">
            <h1 class="text-white text-center">Last Login: {{ last_login }}</h1>
        </div>  
    </div>

    <div class="flex justify-end mb-6">
        <a href="{% url 'main:create_mood_entry' %}" style="background-color: #e14f3a; color: white;" 
           class="font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:bg-[#d43c30] hover:-translate-y-1 hover:scale-105">
            Add New Product
        </a>
    </div>
    
    {% if not mood_entries %}
        <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
            <img src="{% static 'image/tambah_product.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
            <p class="text-center text-gray-600 mt-4">Belum ada data product dalam shapping ૮(˶ㅠ︿ㅠ)ა</p>
        </div>
    {% else %}
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full"> <!-- Grid layout with max 3 columns -->
            {% for mood_entry in mood_entries %}
                {% include 'card_product.html' with mood_entry=mood_entry %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock content %}
